.footer {
  background: var(--clr-dark);
  border-top: 1px solid rgba(255,255,255,.06);
  padding: 1.75rem var(--gutter);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer__copy {
  font-size: 0.8rem;
  color: #fff;
}

.footer__back {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  transition: color var(--transition);
}
.footer__back:hover { color: var(--clr-purple-light); }
